<div class="row">
    
    <form method="post" action="/home/addcar" id="my-form">
        <button type="button" id="test-button" class="btn btn-success">Add some stuff via jquery</button>
        <div class="col-md-6 col-md-offset-3 well">
            <div class="row">
                <span>Car 1</span>
                <br />
                <div class="col-md-6">
                    <input type="text" name="cars[0].make" placeholder="Make" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input type="text" name="cars[0].model" placeholder="Model" class="form-control" />
                </div>
            </div>

            <div class="row">
                <span>Car 2</span>
                <br />
                <div class="col-md-6">
                    <input type="text" name="cars[1].make" placeholder="Make" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input type="text" name="cars[1].model" placeholder="Model" class="form-control" />
                </div>
            </div>

            <button style="margin-top: 20px;" class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>

</div>

@section Scripts
{
    <script src="/js/add-cars.js"></script>
}
